# Caso 1.
Alicia va a ir a Lisboa durante una semana con su marido y sus 2 hijos. 
Están buscando un apartamento con habitaciones separadas para los padres y los hijos. 
No les importa donde alojarse o el precio, simplemente quieren tener una experiencia agradable. 
Esto significa que solo aceptan lugares con más de 10 críticas con una puntuación mayor de 4. 
Cuando seleccionemos habitaciones para Alicia, tenemos que asegurarnos de ordenar las habitaciones de mejor a peor puntuación. 
Para aquellas habitaciones que tienen la misma puntuación, debemos mostrar antes aquellas con más críticas. 
Debemos darle 3 alternativas.

In [6]:
import pandas as pd
df = pd.read_csv('C:/Users/pc/Downloads/airbnv.csv')
df.head(3)

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
1,17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0

In [7]:
df2=df[df["bedrooms"]>1.0]
df2

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
5,29720,128075,Entire home/apt,Estrela,14,5.0,16,9.0,1154.0
12,34977,146695,Entire home/apt,Santa Maria Maior,54,4.5,6,2.0,60.0
14,42172,184400,Entire home/apt,Santa Maria Maior,45,4.5,6,2.0,138.0
16,44043,192830,Entire home/apt,Santa Maria Maior,316,5.0,7,3.0,80.0
20,55116,259744,Private room,Avenidas Novas,1,0.0,2,2.0,68.0
...,...,...,...,...,...,...,...,...,...
13222,19383103,48844725,Entire home/apt,Estrela,0,0.0,4,2.0,84.0
13224,19385945,135895465,Entire home/apt,São Domingos de Benfica,0,0.0,4,2.0,64.0
13227,19388006,135915593,Entire home/apt,São Vicente,0,0.0,6,3.0,415.0
13229,19396300,6115933,Entire home/apt,Santo António,0,0.0,6,4.0,138.0
13231,19400722,28219108,Entire home/apt,Areeiro,0,0.0,5,3.0,75.0

In [9]:
df3=df[df["overall_satisfaction"]>4.0]
df3

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
3,29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
4,29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0
5,29720,128075,Entire home/apt,Estrela,14,5.0,16,9.0,1154.0
...,...,...,...,...,...,...,...,...,...
12829,19051322,132979089,Private room,Penha de França,3,5.0,3,1.0,29.0
12855,19067635,46064752,Entire home/apt,Santa Maria Maior,3,4.5,4,1.0,64.0
12866,19079169,2009620,Private room,Estrela,3,5.0,2,1.0,35.0
12879,19094589,133373223,Private room,Arroios,3,4.5,4,1.0,35.0
12881,19095346,133373223,Private room,Arroios,4,5.0,2,1.0,35.0

In [10]:
df4=df[df["reviews"]>10]
df4

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
3,29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
4,29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0
5,29720,128075,Entire home/apt,Estrela,14,5.0,16,9.0,1154.0
6,29872,128698,Entire home/apt,Alcântara,25,5.0,2,1.0,75.0
...,...,...,...,...,...,...,...,...,...
11986,18306197,126608804,Entire home/apt,Estrela,11,4.5,4,1.0,58.0
11992,18309403,15826725,Entire home/apt,Santa Maria Maior,11,5.0,7,3.0,113.0
11994,18311057,126613630,Private room,Santa Maria Maior,11,5.0,1,1.0,23.0
12012,18322425,106306229,Private room,Penha de França,14,4.5,2,2.0,31.0
12051,18355475,74171605,Entire home/apt,Misericórdia,14,5.0,6,2.0,79.0

In [12]:
informacion = df[(df['reviews'] > 10) & (df['overall_satisfaction'] > 4.0) & (df['bedrooms'] > 1.0)]
informacion

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
5,29720,128075,Entire home/apt,Estrela,14,5.0,16,9.0,1154.0
12,34977,146695,Entire home/apt,Santa Maria Maior,54,4.5,6,2.0,60.0
14,42172,184400,Entire home/apt,Santa Maria Maior,45,4.5,6,2.0,138.0
16,44043,192830,Entire home/apt,Santa Maria Maior,316,5.0,7,3.0,80.0
22,57850,276092,Entire home/apt,Estrela,52,4.5,3,2.0,70.0
...,...,...,...,...,...,...,...,...,...
11776,18139754,19643041,Entire home/apt,Santa Maria Maior,16,5.0,4,2.0,105.0
11927,18266885,126272024,Entire home/apt,Misericórdia,11,5.0,5,2.0,156.0
11992,18309403,15826725,Entire home/apt,Santa Maria Maior,11,5.0,7,3.0,113.0
12012,18322425,106306229,Private room,Penha de França,14,4.5,2,2.0,31.0
12051,18355475,74171605,Entire home/apt,Misericórdia,14,5.0,6,2.0,79.0

In [13]:
df_filtrado = informacion.sort_values(by=['overall_satisfaction', 'reviews'], ascending=[False, False])
df_filtrado

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
120,176153,842219,Entire home/apt,Misericórdia,438,5.0,4,2.0,102.0
16,44043,192830,Entire home/apt,Santa Maria Maior,316,5.0,7,3.0,80.0
140,202150,989393,Entire home/apt,Santa Maria Maior,274,5.0,4,2.0,62.0
2899,4132059,20604318,Entire home/apt,Misericórdia,273,5.0,6,3.0,48.0
688,785650,4141894,Entire home/apt,Santa Maria Maior,266,5.0,5,3.0,133.0
...,...,...,...,...,...,...,...,...,...
9809,15913748,506703,Entire home/apt,Beato,11,4.5,4,2.0,46.0
9872,16010129,3953109,Entire home/apt,Santo António,11,4.5,4,2.0,84.0
10302,16542149,108850010,Private room,Areeiro,11,4.5,2,2.0,37.0
10671,17008040,48501406,Entire home/apt,Arroios,11,4.5,5,2.0,58.0
11586,17974974,123450353,Entire home/apt,Misericórdia,11,4.5,6,2.0,75.0

In [14]:
df_filtrado.head(3)

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
120,176153,842219,Entire home/apt,Misericórdia,438,5.0,4,2.0,102.0
16,44043,192830,Entire home/apt,Santa Maria Maior,316,5.0,7,3.0,80.0
140,202150,989393,Entire home/apt,Santa Maria Maior,274,5.0,4,2.0,62.0

# Caso 2
Roberto es un casero que tiene una casa en Airbnb. 
De vez en cuando nos llama preguntando sobre cuales son las críticas de su alojamiento. 
Hoy está particularmente enfadado, ya que su hermana Clara ha puesto una casa en Airbnb y Roberto 
quiere asegurarse de que su casa tiene más críticas que las de Clara. Tenemos que crear un dataframe 
con las propiedades de ambos. Las id de las casas de Roberto y Clara son 97503 y 90387 respectivamente. 
Finalmente guardamos este dataframe como excel llamado "roberto.xls

In [18]:
roberto_data = df[df['room_id'] == 97503]
clara_data = df[df['room_id'] == 90387]
roberto_data

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
48,97503,515924,Private room,Santo António,39,4.0,2,1.0,26.0

In [19]:
clara_data

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
41,90387,490050,Private room,Santo António,204,5.0,2,1.0,46.0

In [25]:
propiedades = pd.concat([roberto_data, clara_data])

In [ ]:
propiedades.to_excel('roberto.xls', index=False)

# Caso 3
Diana va a Lisboa a pasar 3 noches y quiere conocer a gente nueva. 
Tiene un presupuesto de 50€ para su alojamiento. 
Debemos buscarle las 10 propiedades más baratas, 
dandole preferencia a aquellas que sean habitaciones compartidas (room_type == Shared room), 
y para aquellas viviendas compartidas debemos elegir aquellas con mejor puntuación.

In [26]:
data_filtrado = df[(df['room_type'] == 'Shared room') & (df['price'] <= 50.0)]
data_filtrado

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
204,286153,1489229,Shared room,Campolide,29,4.5,2,1.0,21.0
591,697493,3573506,Shared room,Campo de Ourique,0,0.0,10,1.0,18.0
1010,1179457,5799522,Shared room,Santo António,42,4.0,16,1.0,10.0
1141,1365083,6401752,Shared room,Areeiro,51,4.5,4,1.0,18.0
1160,1380975,6855202,Shared room,Santo António,2,0.0,1,1.0,21.0
...,...,...,...,...,...,...,...,...,...
12549,18790690,61255540,Shared room,Arroios,0,0.0,4,1.0,18.0
12551,18791292,61255540,Shared room,Arroios,0,0.0,6,1.0,32.0
12552,18791469,61255540,Shared room,Arroios,0,0.0,5,1.0,18.0
12949,19140465,133796231,Shared room,Marvila,0,0.0,2,1.0,22.0
13148,19314160,135270245,Shared room,Santa Clara,0,0.0,1,1.0,10.0

In [27]:
informacion_ordenada = data_filtrado.sort_values(by=['price', 'overall_satisfaction'], ascending=[True, False])
informacion_ordenada

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
1010,1179457,5799522,Shared room,Santo António,42,4.0,16,1.0,10.0
3562,5557699,28812904,Shared room,Santa Maria Maior,22,4.0,1,1.0,10.0
7584,13116032,72951043,Shared room,Arroios,1,0.0,8,1.0,10.0
13148,19314160,135270245,Shared room,Santa Clara,0,0.0,1,1.0,10.0
9065,14933182,91501272,Shared room,Santo António,5,5.0,8,1.0,11.0
...,...,...,...,...,...,...,...,...,...
11561,17953842,123079348,Shared room,Arroios,0,0.0,2,1.0,47.0
11563,17954348,123079348,Shared room,Arroios,1,0.0,2,1.0,47.0
7932,13570032,78249982,Shared room,Misericórdia,8,5.0,10,1.0,48.0
10950,17377117,117425901,Shared room,Arroios,0,0.0,10,1.0,48.0
11547,17941583,123079348,Shared room,Arroios,0,0.0,3,1.0,49.0

In [ ]:
informacion_ordenada.head(10)